<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-2.8.3.min.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <!-- this is a good job! nice implementation. there are options to refactor this into ~5 lines, but
            you will have an easier time moving it to the back end and working with the urls there. --->
            {% if show == True %}
                <img src="{{ url_for('static', filename='img/donatello.jpg') }}">
                <img src="{{ url_for('static', filename='img/leonardo.jpg') }}">
                <img src="{{ url_for('static', filename='img/michelangelo.jpg') }}">
                <img src="{{ url_for('static', filename='img/raphael.jpg') }}">
            {% endif %}
            {% if show == False %}
            {% if color =='purple' %}
                <img src="{{ url_for('static', filename='img/donatello.jpg') }}">
            {% elif color == 'blue' %}
                <img src="{{ url_for('static', filename='img/leonardo.jpg') }}">
            {% elif color == 'orange' %}
                <img src="{{ url_for('static', filename='img/michelangelo.jpg') }}">
            {% elif color == 'red' %}
                <img src="{{ url_for('static', filename='img/raphael.jpg') }}">
            {% else %}
            <img src="{{ url_for('static', filename='img/notapril.jpg') }}">
            {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
